


.behavior-analysis, .behavior-healthy{
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    padding: 80px 20px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 2;
    
}

.behavior-analysis p, .behavior-healthy p{
    font-weight: 600;
    font-size: 1.2rem;
}

/* .behavior-analysis h1 {
    font-weight: 900;
    font-size: 3rem;
} */

.behavior-healthy{
    background-color: rgb(37, 241, 27);
}

.behavior-analysis-btn{
    outline: none;
    border: none;
}