.home-container {
    width: 100%;
    height: 100vh;
    background: url('https://img.freepik.com/free-vector/mental-health-awareness-concept-background-design_1017-53520.jpg?w=740&t=st=1727808935~exp=1727809535~hmac=9025032f2f9bdb981f55ef0a7fbcb8c989607a3ecbb66285e76cc605c8c67427') 100%20%/contain no-repeat;
    background-color: lavander;
  }

  .intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    text-align: center;
    line-height: 2;
  }
  
  .intro-title {
    font-size: 3rem;
    color: #fb7240;
    animation: fadeInUp 1.5s ease-out;
  }

  .intro-content{
    margin-left: 2rem;
    padding-left: 2rem;
  }
  
  .intro-tagline {
    font-size: 1.5rem;
    color: #8c7b7b;
    text-shadow: 1px 1px black;
    font-weight: 900;
    margin: 10px 0;
    animation: fadeInUp 2s ease-out;
  }
  
  .survey-btn {
    padding: 10px 20px;
    background-color: #fb7240;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 25px;
    text-decoration: none;
    animation: pulse 2s infinite;
  }
  
  .features-section {
    padding: 40px;
    text-align: center;
  }
  
  .features-list {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  
  .feature-item {
    width: 30%;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: transform 0.3s ease;
    line-height: 2;
  }
  
  .feature-item:hover {
    transform: scale(1.05);
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  